*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

nav{
    display: flex;
    padding: 3px;
    margin: 5px;
    align-items: center;
}

ul, li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    
    
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}